<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datarepair.approval.mapper.DryRunResultMapper">

    <select id="selectByScriptId" resultType="com.datarepair.approval.entity.DryRunResult">
        SELECT * FROM dry_run_result
        WHERE script_id = #{scriptId}
        AND deleted = 0
        ORDER BY create_time DESC
    </select>

    <select id="selectLatestByScriptId" resultType="com.datarepair.approval.entity.DryRunResult">
        SELECT * FROM dry_run_result
        WHERE script_id = #{scriptId}
        AND deleted = 0
        ORDER BY create_time DESC
        LIMIT 1
    </select>

</mapper>
