# Compiled class files
*.class

# Log files
*.log

# Package

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Database
data/
*.db
*.mv.db
*.trace.db

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db